{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container my-3">
  <h1 class="display-5 fw-bold lh-1 ">
    <span class="border-warning pb-3 border-bottom">Login
    </span>
  </h1>
</div>
<div class="container pt-3 mt-4 mb-5">
  <h2 class="">You must be logged in to access Tank mileage tracker
  </h2>
</div>
<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  <div class="container ">
    {{ form|as_bootstrap }}
    <input type="submit" value="login" class="btn btn-warning mt-4">
    <p class="mt-3">Not registered yet? 
      <!-- test url if it works - move register to main urls??? -->
      <a href="{% url 'users:register' %} "> Register here
      </a>
    </p>
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock content %}
