{% block context %}
<div class="container pt-3">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3">
    <!-- forloop to display all messages in the database -->
    {% for trafficmessage in trafficmessage_list %}
    <div class="col mt-1 mb-3">
      <div class="card border-warning shadow-lg">
        <!-- card header -->
        {% include 'partials/traffic_msg_header.html' %}
        <!-- card body -->
        <div class="card-body">
          <!-- Modal Trigger -->
          <div  class="" data-bs-toggle="modal" data-bs-target="#id-modal-{{trafficmessage.id}}" data-bs-show="true">
            <p class="card-text fs-5 text">{{trafficmessage.area}} in {{trafficmessage.county}} (more)
            </p>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    <!-- closes the previous row and creates new row every 3 messages -->
  </div>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3">
    {% endif %}
    {% endfor %}
  </div>
  <!-- pagination from django-->
  {% if is_paginated %}
  <nav class="" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV 
        </a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
<!-- traffic message modal -->
{% include 'partials/traffic_msg_modal.html' %}
{% endblock %}
