

{% block content %}
<div class="container">

    <div class="accordion accordion-flush" id="list-of-journeys">

        <div class="accordion-item">

            <!-- accordeaon header -->
          <h2 class="accordion-header" id="heading-{{current_journey.id}}">
            <button class="row accordion-button collapsed text-warning border border-warning" type="button" data-bs-toggle="collapse" data-bs-target="#journey-id-{{current_journey.id}}" aria-expanded="true" aria-controls="collapseOne">
              <div class="col">
              <div class="row">
                  <div class="col-8 pt-2">
                    {{current_journey.postcode_start}} - {{current_journey.postcode_destination}}, distance: {{current_journey.distance}} miles.
                  </div>
                  <div class="col-4 text-end">
                    <a href="https://www.google.com/maps/dir/?api=1&destination={{lat_b|safe}}%2C{{long_b|safe}}" target=”_blank” aria-label="go to page google maps with destination address (open in new window)" class="text-warning text-decoration-none">
                      <span class="not-for-mobile">Go to Map</span> <img src="https://img.icons8.com/color/48/000000/google-maps.png" class="img-fluid"/>
                    </a>
                  </div>
                </div>
              </div>  
 
            </button>
          </h2>

          <!-- accordeon body -->
          <div id="journey-id-{{current_journey.id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{current_journey.id}}" data-bs-parent="#list-of-journeys">
            <div class="accordion-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            start: {{current_journey.address_start}}
                        </div>
                        <div class="col">
                            destination: {{current_journey.address_destination}} 
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-end">
                            <a href="{% url 'visits:edit_journey' journey_id=current_journey.id %}" class="btn btn-outline-warning btn-sm">Edit</a>
                        </div>
                        <div class="col text-start">
                            <!-- Modal Trigger -->
                            <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#id-modal-{{current_journey.id}}"type="button">Delete</button>
                        </div>

                    </div>
                </div>

            </div>
          </div>
        </div>

    </div>
        
</div>
    <!-- Modal -->
<div class="modal fade" id="id-modal-{{current_journey.id}}" tabindex="-1" aria-labelledby="modal-label-{{current_journey.id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-label-{{current_journey.id}}">Confirm Deleting the journey</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4>Are you sure you want to delete journey from {{ current_journey.postcode_start }} to {{current_journey.postcode_destination }}</h4>
            <p class="red-text">This will change the summary of your miles for the day</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancell</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
