{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">

{% if user.is_authenticated %}

    <div class="">

        <h1 class="display-5 fw-bold lh-1">Add new Traffic Alert</h1>
        <h2><span class="pb-3 border-warning border-bottom">Alert other drivers about current situation on the roads</span></h2>
    </div>
        
    <form class="py-5" action="" method="POST">
    {% csrf_token %}
        <div class="container">    
            
            {{ traffic_msg_form|as_bootstrap}}


            <input class="btn btn-warning my-3 py-3" type="submit" value="register"/>
            

        <input type="hidden" name="next" value="{{ next }}" />
        <input type="hidden" name="author_id" value="{{ user.id }}">
 
    </form>
    


{% else %}

    <h5>You must log in to add new traffic alert.</h5>

    <div class="row">
        <div class="col">
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
        </div>
        <div class="col">
            <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
        </div>
    </div>

    {% endif %}

    </div>


{%endblock%}