/* css for displaying map correctly created by 
checking documentation
https://developers.google.com/maps/documentation/javascript/overview

and following tutorial
https://www.youtube.com/watch?v=wCn8WND-JpU&t=8s */

* {box-sizing: border-box !important;}

body {

  margin: 0 !important;
}

body, html, .map-container {
  height: 100% !important;
  display: block !important;
}

#map-route {
  height: 75% !important;
  display: block !important;
  /* overflow: unset !important; */
  z-index: 0;
  }

.div-container {

  margin-left: 25% !important;
  padding: 1px 16px !important;
  /* height: 1000px !important; */
}

@media screen and (max-width: 900px) {

  
  .div-container {margin-left: 0;}
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2a282b;
  color: white;
}

/* https://developers.google.com/maps/documentation/javascript/overview

these css are required for map to render correctly

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       
/* #map-route {
height: 100%;
} */
      
      /* Optional: Makes the sample page fill the window. */
/* html, body {
height: 100%;
margin: 0;
padding: 0;
} */