/* css for displaying map correctly created by checking documentation
https://developers.google.com/maps/documentation/javascript/overview

and following tutorial
https://www.youtube.com/watch?v=wCn8WND-JpU&t=8s */


* {box-sizing: border-box;}

body {

  margin: 0;
}

body, html, .map-container {
  height: 100%;
}

#map-route {
  height: 75%;
  }

.div-container {

  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {

  
  .div-container {margin-left: 0;}
}

.container {
  border-radius: 5px;
  background-color: #272b30;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {color: rgb(179, 178, 178);}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2a282b;
  color: white;
}


/* styling imitating bootstrap for the purpose of map.html template */

body {
  background-color: #272b30;
  color: whitesmoke;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: whitesmoke;
  text-decoration: none;
}