/* inverts color of calendar icon on date input elements */

/* ::-webkit-calendar-picker-indicator {
    filter: invert(1) !important;
}

input {
    color-scheme: dark;
  } */


/* #nav-big-logo-brand, #nav-big-items{
    color:#aaa !important;
} */

.text-secondary-light {
    color:#aaa !important;
}
/* this one doesn't work anyway */
/* #day-report:hoover {

    color: orangered !important;
} */

/* ::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  } */

/* For medium screen sizes from 950 px wide and down */
@media screen and (min-width: 426px) {
    #nav-bar-mobile {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    #nav-bar-big-screen {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .not-for-mobile {
        display: none;
    }
}