{% extends "base.html" %}

<!-- test does block title work??? -->

{% block title %} User Login {% endblock title%}

{% block content %}

<h1>Please Login</h1>
<p>You must be logged in to access Tank mileage tracker</p>

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="login"></td>
        </tr>
    </table>

<p>Not registered yet? <a href="{% url 'register' %} "> Register here</a></p>
<input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock content %}