

{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}



{% block content %}

<div class="container">


    {% if user.is_authenticated %}

    <h1 class="mt-3 mb-3">Pick the date you wish to view</h1>

    <form action="" method="POST">
    {% csrf_token %}

            {{ date_picker_form|as_bootstrap }}

    <input class="btn btn-warning mt-5" type="submit" value="Go">

    </form>


    {% else %}

    <h1>You need to log in to view the visits</h1>

    {% endif %}
</div>

{% endblock %}

