

{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}


{% block content %}

        <h1 class="display-5 fw-bold lh-1 mb-5 mx-5 mt-3"><span class="border-warning pb-3 border-bottom mx-5">Pick the date</span></h1>

    {% if user.is_authenticated %}

    <div class="container">

        <h2 class="pb-3 mb-5 mx-5"><span class="mx-5">you wish to view</span> </h2>

        <form class="mt-5 mb-5" action="" method="POST">
        {% csrf_token %}
            <div class="row mb-5">
                <div class="col"></div>
                <div class="col">
                    {{ date_picker_form|as_bootstrap }}

                    <input class="btn btn-warning mt-5" type="submit" value="Go"></div>

                <div class="col"></div>
            </div>


        </form>

    </div>
    {% else %}
    <h2 class="pb-3 mb-5 mx-5"><span class="mx-5">You need to log in to view day report</span> </h2>

    {% endif %}


{% endblock %}

