{% extends 'base.html' %}
{% load static %}

{% block extend_nav %} 

<!-- extended nav bar can go here -->

{% endblock %}

{% block content %}

<div class="container my-3"><h1 class="display-5 fw-bold lh-1 "><span class="border-warning pb-3 border-bottom">Drive</span></h1></div>

{% if user.is_authenticated %}

<div class="container my-5 py-5">

   <form class="mt-5 mb-5" action="" method="POST">
      {% csrf_token %}
          <div class="row mb-5">

              <div class="col-12 col-lg-6">
                  {{ date_picker_form|as_bootstrap }}

                  <input class="btn btn-warning mt-5" type="submit" value="Go"></div>

              <div class="col-12 col-lg-6"></div>
              <div class="mb-3">
               <label for="id-google-address-a" class="form-label">Start Address</label>
               <input type="text" class="form-control" id="id-google-address-a" aria-describedby="google-address-a-help" name="google_address_a"
   
               {% if journey.address_start %} 
               value="{{journey.address_start}}"
               {% else %}
               value="{{address_destination}}"
               {% endif %}
               >
   
               <div id="google-address-a-help" class="form-text">Type first line of the address, than choose from drop down list</div>
            </div>
          </div>


      </form>

   <div class="row">

      <div class="col-12 col-lg-6">
         <!--
         if user is redirected as basic drive - both address fields should be empty 
         if user is redirected as next journey, the address should pre fill with address_destination from the prevous journey
         else if user is redirected as edit journey, the address should pre fill with journey.address_start
         -->
         <div class="mb-3">
            <label for="id-google-address-a" class="form-label">Start Address</label>
            <input type="text" class="form-control" id="id-google-address-a" aria-describedby="google-address-a-help" name="google_address_a"

            {% if journey.address_start %} 
            value="{{journey.address_start}}"
            {% else %}
            value="{{address_destination}}"
            {% endif %}
            >

            <div id="google-address-a-help" class="form-text">Type first line of the address, than choose from drop down list</div>
         </div>

      </div>

      <div class="col-12 col-lg-6">

         <div class="mb-3">
            <label for="id-google-address-b" class="form-label">Destination Address</label>
            <input type="text" class="form-control" id="id-google-address-b" aria-describedby="google-address-b-help" name="google_address_b" value="{{journey.address_destination}}">
            <div id="google-address-b-help" class="form-text">Type first line of the address, than choose from drop down list</div>
            <button id="calculate-route">Calculate route</button>
         </div>

      </div>
      
      <div class="row">
         <div class="col-12 col-lg-6">
            <button id="btn">Test-me</button>
         </div>
         <div class="col-12 col-lg-6">
            <div id="map-route"></div>

         </div>
         <div class="row">
            <p>journey url here</p>
            <div id="journey-url">

            </div>
         </div>
      </div>

   </div>
</div>

<h1 id="map">Map</h1>

<div class="container">

  <table>
    <thead>
      <tr>
        <th>

              <a href="https://www.google.com/maps/dir/?api=1&destination={{lat_b|safe}}%2C{{long_b|safe}}">
                Go to Maps
              </a>
              </th>
              <th>
              <a href="https://www.google.com/maps/dir/?api=1&destination={{lat_b|safe}}%2C{{long_b|safe}}">
                Click (here) to be transfered to Google Maps
              </a>
            </th>
        </tr>

            <!-- only the date input field is displayed to the user -->
            {% if journey_id %}
           
        <th>
          Click "Save" button, you will be transferred to Drive"
      </tr>
      {% endif %}

    </thead>
    <tbody>
      <tr>
        <td>Start</td>
        <td>{{directions.origin}}</td>      
      </tr>
      <tr>
        <td>Destination</td>
        <td>{{directions.destination}}</td>      
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{directions.duration}}</td>      
      </tr>
      <tr>
        <td>Distance</td>
        <td>{{directions.distance}}</td>      
      </tr>


    </tbody>
  </table>


</div>



<div>
   <form action="{% url 'visits:calc-distance' %}" method="POST">
      {% csrf_token %}
   <input type="text" id="journey_id" name="journey_id" value={{journey.id}}>
   <input type="text" class="geo" id="id-lat-a" name="lat_a" value="">
   <input type="text" class="geo" id="id-long-a" name="long_a" value="">
   <input type="text" class="geo" id="id-lat-b" name="lat_b" value="">
   <input type="text" class="geo" id="id-long-b" name="long_b" value="">
   <button type="submit">submit</button>
   </form>
</div>
   {% else %}

   <div class="container pt-3 mt-4 mb-5"><h2>You need to log in to use Drive</h2></div>

   {% endif %}



   {% include 'traffic/traffic_msg_list.html' %}

{% endblock %}



{% block extend_footer %}


<script type="text/javascript">

    var google_api_key = "{{google_api_key|safe}}";

  </script>

  <script src="{% static 'js/google_places.js' %}"></script>

  {% endblock %}