{% extends 'base.html' %}
{% load static %}

{% block extend_nav %} 

<!-- extended nav bar can go here -->

{% endblock %}


{% block content %}

<!-- page title -->

<h1 class="display-5 fw-bold lh-1 mb-5 mx-5 mt-3"><span class="border-warning pb-3 border-bottom mx-5">Drive</span></h1>




{% if user.is_authenticated %}

<div class="container mt-5 mb-5">

   <div class="row">

      <div class="col-12 col-lg-6">
         <!--
         if user is redirected as basic drive - both address fields should be empty 
         if user is redirected as next journey, the address should pre fill with address_destination from the prevous journey
         else if user is redirected as edit journey, the address should pre fill with journey.address_start
         -->
         <div class="mb-3">
            <label for="id-google-address-a" class="form-label">Start Address</label>
            <input type="text" class="form-control" id="id-google-address-a" aria-describedby="google-address-a-help" name="google_address_a"

            {% if journey.address_start %} 
            value="{{journey.address_start}}"
            {% else %}
            value="{{address_destination}}"
            {% endif %}
            >

            <div id="google-address-a-help" class="form-text">Type first line of the address, than choose from drop down list</div>
         </div>

      </div>

      <div class="col-12 col-lg-6">

         <div class="mb-3">
            <label for="id-google-address-b" class="form-label">Destination Address</label>
            <input type="text" class="form-control" id="id-google-address-b" aria-describedby="google-address-b-help" name="google_address_b" value="{{journey.address_destination}}">
            <div id="google-address-b-help" class="form-text">Type first line of the address, than choose from drop down list</div>
         </div>

      </div>

   </div>
</div>
   <input type="hidden" id="journey_id" name="journey_id" value={{journey.id}}>
   <input type="hidden" class="geo" id="id-lat-a" value="">
   <input type="hidden" class="geo" id="id-long-a" value="">
   <input type="hidden" class="geo" id="id-lat-b" value="">
   <input type="hidden" class="geo" id="id-long-b" value="">
</div>
   {% else %}
   <h2 class="mx-5"><spanc class="mx-5">You need to log in to use Drive</span></h2>

   {% endif %}



   {% include 'traffic/traffic_msg_list.html' %}

{% endblock %}



{% block extend_footer %}


<script type="text/javascript">

    var google_api_key = "{{google_api_key|safe}}";

  </script>

  <script src="{% static 'js/google_places.js' %}"></script>

  {% endblock %}