<form action="{% url 'visits:post_visit' %}
?address_start={{directions.origin}}
?latitude_start={{lat_a|safe}}
?longitude_start=long_a
?address_destination=directions.destination
?latitude_destination=lat_b
?longitude_destination=long_b
?driver=user.id
?distance=directions.distance
" method="POST">

var google_api_key = "{{google_api_key|safe}}";
var lat_a = {{lat_a|safe}};
var long_a = {{long_a|safe}};
var lat_b = {{lat_b|safe}};
var long_b = {{long_b|safe}};
var origin = "{{origin|safe}}";
var destination = "{{destination|safe}}";
var directions = {{directions|safe}}


create variable called argument that would combine the path with all above data

print("form is valid")
journey = Journey()
journey.date_of_journey = journey_form.cleaned_data['date_of_journey']
journey.address_start = request.GET.get("address_start")
journey.postcode_start = request.GET.get("address_start")
journey.latitude_start = request.GET.get("latitude_start")
journey.longitude_start = request.GET.get("longitude_start")

journey.address_destination = request.GET.get("address_destination")
journey.postcode_destination = request.GET.get("address_destination")
journey.latitude_destination = request.GET.get("latitude_destination")
journey.longitude_destination = request.GET.get("longitude_destination")
journey.driver = request.GET.get("driver")           
journey.distance = request.GET.get("distance")

pirnt(f'journey {journey}')
journey.save()

return render(request, 'visits/map.html')

address_start, latitude_start, longitude_start, address_destination, latitude_destination, longitude_destination, driver, distance

<form action="{% url 'visits:post_visit' %}" method="POST">

    functional view

    def post_visit(request):
    if request.method == 'POST':

        print("post request done")
        journey_form = JourneyForm(request.POST)

        if journey_form.is_valid():

            print("form is valid")
            journey = Journey()
            journey.date_of_journey = journey_form.cleaned_data['date_of_journey']
            journey.address_start = journey_form.cleaned_data["address_start"]
            journey.postcode_start = journey_form.cleaned_datat["address_start"]
            journey.latitude_start = journey_form.cleaned_data["latitude_start"]
            journey.longitude_start = journey_form.cleaned_data["longitude_start"]

            journey.address_destination = journey_form.cleaned_data["address_destination"]
            journey.postcode_destination = journey_form.cleaned_data["address_destination"]
            journey.latitude_destination = journey_form.cleaned_data["latitude_destination"]
            journey.longitude_destination = journey_form.cleaned_data["longitude_destination"]
            journey.driver = journey_form.cleaned_data["driver"]          
            journey.distance = journey_form.cleaned_data["distance"]

            pirnt(f'journey {journey}')
            journey.save()

            return render(request, 'visits/map.html')