{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-3"><h1 class="display-5 fw-bold lh-1 "><span class="border-warning pb-3 border-bottom">Day report</span></h1></div>



    {% if user.is_authenticated %} 

    <form class="container my-3 py-3">
        <fieldset>
            <legend class="mb-5 pb-3">{{date_to_string}}</legend>

            {% include 'partials/visits_journeys_list.html' %}
          
            </div>
        
        </fieldset>
    </form>

    

    {% for journey in journeys %}

    <!-- Modal -->
<div class="modal fade" id="id-modal-{{journey.id}}" tabindex="-1" aria-labelledby="modal-label-{{journey.id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-label-{{journey.id}}">Confirm Deleting the journey</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4>Are you sure you want to delete journey from {{ journey.postcode_start }} to {{journey.postcode_destination }}</h4>
            <p class="red-text">This will change the summary of your miles for the day</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancell</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
    
    {% endfor %}


    {% else %}

    <div class="container pt-3 mt-4 mb-5"><h2>You need to log in to see your journeys</h2></div>

    {% endif %}



{% endblock %}
