
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container col-xxl-8 px-4 py-1">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 flex-lg-row-reverse align-items-center g-5 py-3">
      <div class="col">
        <img src="{% static 'img/01-hero-pexels-art-guzman-8079173.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Photo of a military tank" width="700" height="500" loading="lazy">
      </div>
      <div class="col">
        <h1 class="display-5 fw-bold lh-1 mb-3">Error 502
        </h1>
        <h2 class="border-warning pb-3 border-bottom mb-3">Bad gateway
        </h2>
        <p class="lead">
            Something has gone wrong on the server. We are hoping to fix the problem soon.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{% url 'users:register' %}" class="btn btn-warning btn-lg px-4 me-md-2">
            Register
          </a>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-lg px-4">
            Login
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
