{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container"></div>

{% if user.is_authenticated %}
<div class="container">

    <h1>Add New Traffic Alert</h1>
    <p>Alert other drivers about current situation on the roads</p>
</div>
    
        
    <form action="" method="POST">
    {% csrf_token %}
        <div class="container">    
            
            {% for field in traffic_msg_form %}

            <!-- django documentation about input type field 
            https://docs.djangoproject.com/en/3.2/ref/forms/api/#django.forms.BoundField
            field.widget_type should return the type of input

            for example
            {% for field in form %}
                {% if field.widget_type == 'checkbox' %}
                    # render one way
                {% else %}
                    # render another way
                {% endif %}
            {% endfor %}

            I would still have to loop throuogh options to display options in drop down
            -->

            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                <input type="field.widget_type" class="form-control" id="{{ field.id_for_label }}" aria-describedby="{{ field.id_for_label }}-help" name="{{ field.html_name }}">
                {% if field.widget_type == select %}
                this one
                <option value="3">Three</option>
                {% endif %}
                
                <div id="{{ field.id_for_label }}-help" class="form-text">{{field.errors}}</div>
             </div>

            {% endfor %}

            <input class="btn btn-warning mt-3" type="submit" value="register"/>
            

        <input type="hidden" name="next" value="{{ next }}" />
        <input type="hidden" name="author_id" value="{{ user.id }}">
 
    </form>
    
</div>

{% else %}

    <h5>You must log in to add new traffic alert.</h5>

    <div class="row">
        <div class="col">
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
        </div>
        <div class="col">
            <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
        </div>
    </div>

    {% endif %}

    </div>


{%endblock%}