{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container"></div>

    {% if user.is_authenticated %}
    <div class="container">

        <h1>Add New Traffic Alert</h1>
        <p>Alert other drivers about current situation on the roads</p>
    </div>
        
        
    <form action="" method="POST">
    {% csrf_token %}
        <div class="container">    
            
            {{ traffic_msg_form|as_bootstrap}}


            <input class="btn btn-warning mt-3" type="submit" value="register"/>
            

        <input type="hidden" name="next" value="{{ next }}" />
        <input type="hidden" name="author_id" value="{{ user.id }}">
 
    </form>
    
</div>

{% else %}

    <h5>You must log in to add new traffic alert.</h5>

    <div class="row">
        <div class="col">
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
        </div>
        <div class="col">
            <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
        </div>
    </div>

    {% endif %}

    </div>


{%endblock%}