{% extends "base.html" %}

{% load bootstrap_tags %}

<!-- test does block title work??? -->

{% block title %} User Login {% endblock title%}

{% block content %}

<h1>Please Login</h1>
<p>You must be logged in to access Tank mileage tracker</p>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="container">
        {{ form|as_bootstrap }}


    <input type="submit" value="login" class="btn btn-warning mt-3">

    </div>

<p>Not registered yet? <a href="{% url 'register' %} "> Register here</a></p>
<input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock content %}