{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<div class="container my-3">
  <h1 class="display-5 fw-bold lh-1">
    <span class="border-warning pb-3 border-bottom"
          >Profile
    </span
      >
  </h1>
</div>
<div class="container  mt-5">
  <form action="#" method="POST">
    {% csrf_token %}
    <div class="container"> 
      {{ user_profile_form|as_bootstrap}}
      <input class="btn btn-warning my-3 py-3" type="submit" value="register"/>
    </div>
  </form>
</div>
{% endblock content %}

{% block extend_footer %}
<script type="text/javascript">
  var google_api_key = "{{google_api_key|safe}}";
</script>
<script src="{% static 'js/user_profile.js' %}">
</script>
{% endblock %}